.dashboard{
    max-width:700px;
    margin:50px auto;
    padding:30px;
}

.dashboard h1{
    text-align:center;
    margin-bottom:30px;
}

.dashboard-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.dashboard-form input,
.dashboard-form textarea{
    padding:15px;
    border-radius:10px;
    border:none;
}

.dashboard-form button{
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}
