.home{

padding:120px 6%;

min-height:100vh;

background:#020617;

color:white;

}

.hero{

text-align:center;

margin-bottom:50px;

}

.hero h1{

font-size:50px;

margin-bottom:15px;

}

.hero p{

font-size:20px;

color:#94a3b8;

}

.search-section{

display:flex;

justify-content:center;

margin-bottom:40px;

}

.search-section input{

width:500px;

max-width:100%;

padding:16px;

border-radius:50px;

border:none;

outline:none;

background:#111827;

color:white;

font-size:16px;

}

.product-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.loader-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.no-product{

text-align:center;

font-size:28px;

padding:80px;

color:#94a3b8;

}

@media(max-width:768px){

.hero h1{

font-size:35px;

}

.search-section input{

width:100%;

}

}
