.product-details{

display:flex;

gap:60px;

padding:60px;

max-width:1400px;

margin:auto;

}

.product-left{

flex:1;

}

.product-left img{

width:100%;

border-radius:20px;

}

.product-right{

flex:1;

display:flex;

flex-direction:column;

gap:20px;

}

.product-right h1{

font-size:40px;

}

.product-right h2{

color:#2563eb;

font-size:32px;

}

.buy-btn,
.cart-btn,
.wish-btn{

padding:15px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:600;

}

.buy-btn{

background:#2563eb;

color:white;

}

.cart-btn{

background:#10b981;

color:white;

}

.wish-btn{

background:#e11d48;

color:white;

}
