.profile-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding-top:100px;

}

.profile-card{

width:420px;

padding:40px;

text-align:center;

border-radius:25px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

}

.profile-avatar{

width:110px;

height:110px;

margin:auto;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

font-size:42px;

font-weight:bold;

margin-bottom:25px;

}

.profile-card h2{

margin-bottom:10px;

}

.profile-card p{

color:#94a3b8;

margin-bottom:20px;

}

.role{

display:inline-block;

padding:8px 20px;

border-radius:30px;

background:#38bdf8;

margin-bottom:25px;

}

.logout-btn{

width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#ef4444;

color:white;

cursor:pointer;

font-size:16px;

}

.logout-btn:hover{

background:#dc2626;

}
